-# ログインしているなら出品ボタン表示
- if user_signed_in?
  = link_to new_product_path, class:'top-exhibit__link' do
    .top-exhibit
      .top-exhibit__link--text 出品する
      = image_tag "icon_camera.png"
- else
  = link_to new_user_session_path, class:'top-exhibit__link' do
    .top-exhibit
      .top-exhibit__link--text 出品する
      = image_tag "icon_camera.png"