%header.top-header
  .top-header--top
    = image_tag "logo.png", class: "top-header--top__image"
    -# 検索フォーム
    %input{placeholder: "キーワードから探す", type: "text", class: "top-heder--top__form"}
  .top-header--middle
    .top-header--middle__left
      -# カテゴリーから探す
      .top-category--left カテゴリーから探す
      -# ブランドから探す
      .top-category--right ブランドから探す
    .top-header--middle__right
      -# 会員登録ボタン
      .top-category__btn--left.btn 
        = link_to "新規会員登録", ""
      -# ログインボタン
      .top-category__btn--right.btn ログイン
