.top-guidance {
  background-image: image-url("bg-appBanner-pict.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 360px;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px rgba(71, 71, 71, 0.5);

  h2 {
    font-size: 24px;
    padding-top: 95px;
    padding-bottom: 5px;
  }

  p {
    font-size: 35px;
    padding-bottom: 20px;
  }

  .top-icon {
    display: flex;
    margin: auto;
    max-width: 25%;

    .apple {
      border: solid 1px white;
      border-radius: 5px;
      height: 50px;
      width: 175px;
      margin-right: 10px;

      &:hover {
        opacity: 0.4;
      }
    }

    .google {
      border: solid 1px white;
      border-radius: 5px;
      height: 50px;
      width: 180px;

      &:hover {
        opacity: 0.4;
      }
    }
  }
}

footer {
  height: 370px;
  width: 100%;
  background-color: rgb(37, 37, 37);
  color: white;

  .footer__container {
    width: 840px;
    margin: 0 auto;
  }

  .top-contents {
    display: flex;
    text-align: center;
    justify-content: space-between;

    .top-content {
      padding-top: 60px;
      width: 263px;

      &__head {
        font-size: 16px;
        padding-bottom: 20px;
      }

      .top-underline li {
        list-style: none;
        padding-bottom: 10px;

        a {
          text-decoration: none;
          color: white;
          opacity: 0.7;
          font-size: 12px;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

    li {
      list-style: none;
    }
  }

  .top-logo {
    text-align: center;

    p {
      font-size: 14px;
    }
  }
}