.top-header {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  padding-bottom: 10px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}

.top-header--top {
  display: flex;
  justify-content: space-between;
  width: 1020px;
  margin: 0 auto;
  padding-top: 8px;
  &__image {
    width: 134px;
    height: 36px;
  }
  input {
    width: 841px;
    height: 40px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    background: rgb(245, 245, 245);
    font-size: 16px;
    padding-left: 10px;
  }
}

.top-header--middle {
  width: 1020px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  &__left {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
  }
  &__right {
    display: flex;
  }
}

.top-category--left {
  margin-right: 20px;
  cursor: pointer;
}

.top-category--left:hover {
  color: $main-color;
}

.top-category--right {
  cursor: pointer;
}

.top-category--right:hover {
  color: $main-color;
}

.top-category__btn--left {
  margin-left: 10px;
  background: $main-color;
  border: 1px solid $main-color;
  color: white;
}

.top-category__btn--right {
  margin-left: 10px;
  border: 1px solid $main-color;
  color: $main-color;
}

.top-category__btn--right:hover {
  background: $main-color;
  color: white;
}

.btn {
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 14px;
  vertical-align: baseline;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}