// ログイン
.login-body {
  background-color: $back-color;
}

.login-signup {
  background: white;
  width: 328px;
  padding: 40px 64px;
  margin: 0 auto;
  text-align: center;
  &__text {
    font-size: 14px;
    line-height: 14px;
  }
  &__btn {
    display: block;
    text-decoration: none;
    background: $main-color;
    font-size: 14px;
    color: white;
    line-height: 40px;
    margin-top: 8px;
  }
}

.login-main {
  border-top: 1px solid rgb(239, 239, 239);
  background: white;
  width: 328px;
  padding: 40px 64px;
  margin: 0 auto;
  text-align: center;
  &__facebook {
    border: 1px solid #385185;
    background: #385185;
    color: white;
    font-size: 14px;
    line-height: 48px;
    position: relative;
    i {
      height: 48px;
      line-height: 48px;
      font-size: 20px;
      position: absolute;
      top: 0;
      left: 20px;
    }
  }
  &__google {
    font-size: 14px;
    line-height: 48px;
    border: 1px solid;
    margin-top: 16px;
    color: #333;
    position: relative;
    img {
      position: absolute;
      height: 40px;
      top: 4px;
      left: 2px;
    }
  }
}

.login-form {
  background: white;
  width: 328px;
  padding: 24px 64px 32px 64px;
  margin: 0 auto;
  text-align: center;
  &__email {
    width: 328px;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 16px 8px 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  &__password {
    margin-bottom: 24px;
    width: 328px;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 16px 8px 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  &__btn {
    background: $main-color;
    border: 1px solid $main-color;
    font-size: 14px;
    line-height: 48px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    line-height: 38px;
  }
  p {
    color: $main-color;
    text-align: left;
    font-size: 14px;
    line-height: 14px;
    margin-top: 40px;
  }
}
