// ヘッダー
// //logout.scssと同じ

// 商品関連
.product-show {
  width: 100%;
  background-color: #eee;
  .product-show-main {
    width: 700px;
    background-color: #eee;
    margin: auto;
    padding-top: 30px;
    .product-show-box {
      background-color: #fff;
      padding: 24px 40px 40px;
      .puroduct-name {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
      }
      .product-show-item-lists {
        margin-top: 20px;
        &__img {
          display: flex;
          justify-content: center;
          .product-show-item-lists__img--main{
            position: relative;
            .main-size {
              object-fit: cover;
            }
            .product-sold-container{
              position: absolute;
              top:0;
              height: 50px;
              color: white;
              font-size: 30px;
              line-height: 50px;
              letter-spacing: 10px;
              text-align: center;
              width: calc(100% - 10px);
              background-color: crimson;
            }
          }
          .product-show-item-lists__sub {
            display: flex;
            margin-right: 10px;
            width: 480px;
            overflow: scroll;
            &--img {
              margin-left: 10px;
              .sub-size {
                object-fit: cover;
              }
            }
          }
        }
      }
    }
    .product-show-price {
      text-align: center;
      margin: 20px 0;
      &__span1 {
        font-size: 46px;
        font-weight: bold;
      }
      &__tax {
        display: flex;
        justify-content: center;
      }
    }
    .product-show-text {
      line-height: 1.5;
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
}

// 写真サイズ
.main-size {
  display: table;
  padding-bottom: 10px;
  margin-bottom: 0 auto;
  width: 480px;
  height: 346px;
}
.sub-size {
  width: 150px;
  height: 150px;
}

// 表
.show-teable{
  border: solid 1px #ccc;
  overflow: scroll;
  &__th {
    border: solid 1px #ccc;
    background-color: #eee;
    text-align: center;
    width: 180px;
    padding: 20px 0;
  }
  &__td {
    border: solid 1px #ccc;
    padding: 10px 0;
    padding-left: 10px;
    width: 540px;
  }
}

// お気に入り 不適な情報ボタン
.product-show-btns {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  &__like {
    display: flex;
    border: solid 2px #ffb340;
    border-radius: 40px;
    font-size: 16px;
    padding: 10px;
    align-items: center;
    color: $main-color;
    cursor: pointer;
    &:hover {
      opacity: 0.4;
    }
    .fa-star {
      margin-right: 5px;
    }
  }
  &__report {
    display: flex;
    align-items: center;
    border: solid 2px #333;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    &:hover {
      opacity: 0.4;
    }
    .fa-flag {
      margin-right: 5px;
    }
  }
}
// 購入ボタン
.product-show-link {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  &__edit {
    margin-left: 50px;
    font-size: 20px;
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    background-color: $main-color;
    box-shadow: $shadow;
    border-radius: 10px;
  }
  &__destroy {
    margin-right: 50px;
    font-size: 20px;
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(204, 0, 0);
    box-shadow: $shadow;
    border-radius: 10px;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    display: block;
  }
  &__btn {
    height: 70px;
    line-height: 70px;
    width: 500px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(204, 0, 0);
  }
}

// コメント入力蘭
.product-comment-form {
  text-align: center;
  margin-top: 20px;
  background-color: white;
  width: 620px;
  padding: 20px 40px;
  height: auto;
  &__new {
    width: 620px;
    &--text {
      width: 620px;
      height: 200px;
    }
    &--report{
      background-color: #eee;
      text-align: left;
      margin-top: 10px;
      padding: 10px 0 10px 10px;
      line-height: 1.5;
    }
    &--btn {
      width: 400px;
      height: 50px;
      color: white;
      background-color: $main-color;
      margin: 0 110px;
      margin-top: 20px;
      border-radius: 40px;
      cursor: pointer;
      &:hover {
        opacity: 0.4;
      }
    }
  }
}

// 前の商品 次の商品
.product-after-before {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  color: $main-color;
  font-size: 20px;
  cursor: pointer;
  &__before {
    &:hover {
      opacity: 0.4;
    }
  }
  &__after {
    &:hover {
      opacity: 0.4;
    }
  }
}

// カテゴリーもっとみる
.product-show-category {
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0;
  cursor: pointer;
  a {
    text-decoration: none;
    color: $main-color;
  }
}


// コメント一覧
.product-comments-box {
  width: 700px;
  .product-comments {
    margin-top: 20px;
    background-color: white;
    width: 620px;
    padding: 20px 40px;
    height: auto;
    &__header {
      padding: 0.5em 1em;
      text-align: center;
      background: -moz-linear-gradient(#ffb03c, #ff708d);
      background: -webkit-linear-gradient(#ffb03c, #ff708d);
      background: linear-gradient(to right, #ffb03c, #ff708d);
      color: #FFF;
    }
    .comments__text--text {
      position: relative;
      display: inline-block;
      margin: 5px 30px 30px 30px;
      padding: 15px 10px;
      min-width: 120px;
      max-width: 100%;
      color: #555;
      font-size: 18px;
      background: #e0edff;
      border-radius: 15px;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -25px;
        margin-top: -15px;
        border: 15px solid transparent;
        border-right: 15px solid #e0edff;
        z-index: 0;
      }
    }
  }
}
.comments__text a {
  text-decoration: none;
  color: #555;
  font-size: 18px;
}