body {
  background-color: $back-color;
}
.registration-form {
  width: 700px;
  margin: 0 auto;
  &--main-box {
    background-color: white;
    border-bottom: solid 1px $back-color;

    .new-member-registration {
      padding: 32px;
      text-align: center;
      font-weight: bold;
      font-size: 22px;
      color: #333;
    }
  }

  &__form-box {
    background-color: white;
    width: 700px;
    margin: 0 auto;
    padding: 40px 0 64px 0;
    
    &--email-box {
      background-color: $main-color;
      height: 50px;
      width: 340px;
      line-height: 50px;
      font-size: 20px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      border-radius: 4px;
      
      a {
        color: white;
        width: 100%;
        text-align: center;
      }

      &:hover {
        opacity: 0.6;
      }

      i {
        color: white;
        position: absolute;
      }

      .fa-envelope {
        text-align: left;
        padding-left: 20px;
        font-size: 20px;
      }
    }

    &--facebook-box {
      background-color: rgb(49, 71, 141);
      height: 50px;
      width: 340px;
      line-height: 50px;
      font-size: 20px;
      margin: 0 auto;
      margin-top: 32px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      
      a {
        color: white;
      }

      .fa-facebook-square {
        text-align: left;
        padding-left: 20px;
        color: white;
        font-size: 20px;
        position: absolute;
      }
    }

    &--google-box {
      margin: 0 auto;
      margin-top: 32px;
      height: 50px;
      width: 340px;
      line-height: 50px;
      border: solid 1px rgb(206, 206, 206);
      font-size: 20px;
      display: flex;
      align-items: center;
      border-radius: 4px;

      a {
        color: black;
      }
      img {
        width: 60px;
        height: 47px;
        position: absolute;
        border-radius: 4px;
      }
    }
  }

  a {
    text-decoration: none;
    font-size: 13px;
    margin: 0 auto;
  }
}