.search-title {
  background: $main-color;
  width: 880px;
  height: 45px;
  font-weight: bold;
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  color: white;
  margin: 50px auto;
  border-radius: 5px;
}

.search-flex {
  display: flex;
  flex-wrap: wrap;
  width: 880px;
  margin: 0 auto;
  margin-bottom: 50px;
  .search-size {
    width: 200px;
    margin: 10px;
  }
}

.product-sold-container__search {
  width: 200px;
  background-color: crimson;
  text-align: center;
  position: absolute;
  color: white;
}

.c-show__box__image {
  box-shadow: 3px 3px 3px gray;
}
