$main-color: #3CCACE;
$shadow: rgba(165, 165, 165, 0.18) 0px 0px 2px;
body {
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

@import "modules/reset";
@import "modules/header";
@import "modules/footer";
@import "modules/top-body";
@import "modules/registration.scss";
@import "modules/login";
@import "modules/mypage";
@import "modules/exhibit";
@import "modules/buy";

