$main-color: #3CCACE;

$shadow: rgba(145, 145, 145, 0.18) 0px 0px 2px;
$back-color: #f8f8f8;

body {
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

@import "modules/reset";
@import "modules/header";
@import "modules/footer";
@import "modules/top-body";
@import "modules/product-show";
@import "modules/exhibit";
@import "modules/registration.scss";
@import "modules/login";
@import "modules/mypage";
@import "modules/logout";
@import "modules/side-bar";
@import "modules/buy";
@import "modules/card";
@import "modules/user_info_registration";
@import "modules/creditcard";

@import "modules/category_index";
@import "modules/category_show";
